<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.ModuloMapper">

    
  
    <select id="seleccionarTodosLosDocumentos" resultMap="documentoResultMap">
        <include refid="baseSelectDocumento"/>
    </select>
    
    <sql id="baseSelectDocumento">
        SELECT *
        FROM Modulos
        WHERE 1 = 1 
    </sql>
    
    <resultMap id="documentoResultMap" type="es.fpdual.eadmin.eadmin.modelo.TablaModulos">
		<constructor>
			<idArg column="ID_MODULO" javaType="Integer" />
			<arg column="NOMBRE" javaType="String" />
			<arg column="DURACION" javaType="Integer" />
			<arg column="CURSO" javaType="String" />
		</constructor>
	</resultMap>
    
</mapper>